.eventslots-cell{
	background: #D9EAF5;	
	border: 1px solid white;
	margin-right: -1px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-indent: -9999px;
	display: block;
	float: left;
	height: 20px;
}

.eventslots-cell.s15{
	width: 7px;
}

.eventslots-cell.s30{
	width: 15px;
}

.eventslots-cell.s60{
	width: 30px;
}

.eventslots-td{
	padding: 0px;
}

.eventslots-cell.selected{
	background: #2588C4;	
	color: white;
}

.eventslots-cell.disabled{
	background: transparent;	
	cursor: default;
}

#edit-select-role-0-wrapper label,
.eventslots-cell.selected.role-0{
	background: #EB8383;	
}

#edit-select-role-1-wrapper label,
.eventslots-cell.selected.role-1{
	background: #DDEB83;	
}

#edit-select-role-2-wrapper label,
.eventslots-cell.selected.role-2{
	background: #9D83EB;	
}

#edit-select-role-3-wrapper label,
.eventslots-cell.selected.role-3{
	background: #83B1EB;	
}

#edit-select-role-4-wrapper label,
.eventslots-cell.selected.role-4{
	background: #83EBC5;	
}

#edit-select-role-5-wrapper label,
.eventslots-cell.selected.role-5{
	background: #91EB83;	
}

#edit-select-role-6-wrapper label,
.eventslots-cell.selected.role-6{
	background: #EAEB83;	
}

#edit-select-role-7-wrapper label,
.eventslots-cell.selected.role-7{
	background: #EBBD83;	
}

.eventslots-cell:hover{
	opacity: .6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.eventslots-date{
	font-weight: bold;	
}
#th-date, th{
	border-bottom: 0px !important;	
}

#eventslots-data-table th{
	padding: 0px 17px 0px 0px !important;
}

#eventslots-sticky-header th{
	color: white;
	padding: 0px 20px 0px 6px !important;
}

#eventslots-sticky-header{
	position: absolute;	
	background: white; 
	width: 100px;
}

#eventslots-sticky-header td{
	line-height: 15px;
	text-align: right;
	font-size: 11px;
}

#eventslots-data-table{
	margin-left: 101px;	
	display: block;
	width: 890px !important;
}

.role-select .form-item{
	display: inline;	
}

.role-select label{
	padding: 5px;
	margin-right: 10px;
	line-height: 30px;
	cursor: pointer;
}

.role-select label input{
	position: relative;
	top: 2px;	
	cursor: pointer;
}
